/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color:#fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Add flexbox to the container */
    justify-content: space-between; /* Align children with space between */
    align-items: center; /* Align children vertically */
}

header {
    background-color:gray;
    color: #fff;
    padding: 10px 0;
}

.logo img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f0f0f0;
}

.cta .button {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.cta .button:hover {
    background-color: #138496;
}

/* Hero section */
.hero {
    background-color:#fff;
    color:black;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    color: #ccc;
}

/* Footer section */
footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
